.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 3% 3%;
    grid-row-gap: 20px
}

.grid-item {
    text-align: left;
}

.grid-header-light, .grid-header-dark {
    padding-bottom: 10px;    
}

.grid-header-dark {
    color: green;
}

.grid-header-light {
    color: blue;
}

.grid-item > P {
    font-size: clamp(0.7rem, 1.3vw, 1.3rem); 
}
