@import url('https://fonts.googleapis.com/css2?family=Inter:wght@402&family=Karla:wght@200&display=swap');

* {
  margin: 0;
  text-decoration: none;
  font-family: 'inter';
  font-weight: lighter
  /*  outline: 1px solid limegreen !important; */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundcolor); 
}

h1 {
  font-size: clamp(1.6rem, 2.4vw, 1.8rem);  
}
